@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #000;
  --bg-secondary : #171717;
  --bg-purple : #9353D3;
  --text-primary : #ffffff;
  --text-secondary : #B1B1B1;
  --primary-font: "Space Grotesk", sans-serif;
  --secondary-font: "Lexend", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: var(--primary-font);
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

html {
  scroll-behavior: smooth !important;
  background: var(--bg-primary) !important;
  color: var(--text-primary) !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Gradeint effect (vintage) */

::-webkit-scrollbar {
  display: none;
}